<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.housekeeping.housekeeping.mapper.AppUserMapper">
    
    <resultMap type="AppUser" id="AppUserResult">
        <result property="userId"    column="user_id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="nickname"    column="nickname"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="avatar"    column="avatar"    />
        <result property="gender"    column="gender"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAppUserVo">
        select user_id, username, password, nickname, phone, email, avatar, gender, status, create_time, last_login_time, remark from app_user
    </sql>

    <select id="selectAppUserList" parameterType="AppUser" resultMap="AppUserResult">
        select user_id, username, nickname, phone, email, avatar, gender, status, create_time, last_login_time, remark from app_user
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="params.beginTime != null and params.beginTime != ''">and create_time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null and params.endTime != ''">and create_time &lt;= #{params.endTime}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectAppUserByUserId" parameterType="Long" resultMap="AppUserResult">
        <include refid="selectAppUserVo"/>
        where user_id = #{userId}
    </select>

    <select id="selectAppUserByUsername" parameterType="String" resultMap="AppUserResult">
        <include refid="selectAppUserVo"/>
        where username = #{username}
    </select>

    <select id="checkUsernameUnique" parameterType="String" resultType="int">
        select count(1) from app_user where username = #{username} limit 1
    </select>

    <insert id="insertAppUser" parameterType="AppUser" useGeneratedKeys="true" keyProperty="userId">
        insert into app_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="nickname != null">nickname,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="gender != null">gender,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="gender != null">#{gender},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAppUser" parameterType="AppUser">
        update app_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="status != null">status = #{status},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteAppUserByUserId" parameterType="Long">
        delete from app_user where user_id = #{userId}
    </delete>

    <delete id="deleteAppUserByUserIds" parameterType="Long">
        delete from app_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>

